
.conteiner {
    max-width: 1440px;
    font-family: 'Be Vietnam', sans-serif;
    margin-left: 5vw;
    margin-right: 5vh;
    background-image: url(img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
}
/*Header*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.ancho{
    width: 50vw;
}
.options{
display: flex;
justify-content: space-evenly;
color: #242E52;
}

.botonnaranja{
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    background-color: #F3603B;
    padding: 10px 20px;
    color: white;
    display: flex;
}

.botonnaranja:hover{
    background-color: wheat;
}
#menu_hamburguesa{
    display:none
}

/*Main primer sección*/
.columnfirst{
    display: flex;
    align-items: center;
    color: #232C50;
    padding-right: 10vw;
    width: 100%;
}

h1{
    display: flex;
    font-size: 58px;
    font-weight: bold;
    color: #232C50
}
.paragraphbold{
    display: flex;
    font-size: 20px;
    color:#242E52
}
.imagen{
    width: 50vw;
}

/*Main segunda sección*/
.columnsecond{
    display: flex;
    padding-top: 15vh;
}
.articleone{
    display: flex;
    padding-right: 10vw;
}
h2{
    color: #242E52;
    font-size: 36px;
}
h4{
    color: #323851;
}

.articletwo{
    display: flex;
    flex-direction: column;
}

.textimage{
    color:  rgb (29, 30, 37);
    font-weight: bold;
}
.paragraphgrey{
    display: flex;
    justify-content: flex-start;
    color: #B3B2B7;
    font-size: 16px;
}
.articlethree{
    display: flex;
    justify-content: center;
    padding-bottom: 20vh;
}
.articlefour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}
.numberone::before{
    content: "1";
    background-color:#F3613C;
    color:white ;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.numbertwo::before{
    content: "2";
    background-color:#F3613C;
    color:white ;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.numberthree::before{
    content: "3";
    background-color:#F3613C;
    color:white ;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}
/*Cards*/
.names{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
.paragraphcards{
    display: flex;
    text-align: center;
    color: #B9B9C1;
}
.botonfinal{
    display: flex;
    justify-content: center;
}
.icon{
    padding-left: 10vw;
    position: absolute;
    top: 230vh;
}
.fondo{
    background-color: #FAFAFA;
    padding-bottom: 10vh;
    margin-right: 10px;
}


/*Footer*/
.footer1{
    display: flex;
    background-color: #F3613C;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}

#botonblanco{
    background-color: white;
    color: orange;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }

.footer2{
    background-color: #1E1E26;
    display: flex;
    color: white;
    padding-top: 5vh;
    justify-content: space-around;
    padding-bottom: 5vh;

}
.h2white{
    display: flex;
    justify-content: center;
    color:  #FFFFFF;
    width: 35vw;
    font-weight: bold;
}
.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.listasfinales{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.formfinal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.paragraphfinal{
    font-size: 12px;
}
.form-email{
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
}
.button-go{
    background-color: #F3603B;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
}
.iconsredes{
    margin-bottom: 3vh;
    display: flex;
    width: 15vw;
    justify-content: space-around;
    }
    
input:focus{
    color:blue;
}

@media (max-width: 380px) {
   
    .conteiner {
        margin: 2%;
    }
    .header{
            display: flex ;
            justify-content: space-between;
            align-items: center;
        }
        
   /*Este pequeño código lo dejo porque me creó una rayita del menu hamburguesa pero no pude crear las otras así que usé un ícono.
        .ancho
        display: flex;
        width: 10vw;
        height: 0.5vh;
        background-color: black;
    }
   */
    .options{
        display: none;
    }

    .botonnaranjaprimero{
        display: none;
    }
    .logo-top{
        display: flex;
        padding-top: 5vh;
    }
    #menu_hamburguesa{
        display: flex;
    }
    .columnfirst{
        display: flex;
        flex-direction: column-reverse;
    }
    .h1{
        display: flex;
        align-items: center;
        flex-direction: column ;
    }
    h1{
        font-size: 40px;
        display: flex;
        align-self: center;
    }
    .imagen{
        width: 90vw;
        margin-left: 15vw;
        margin-top: 10vh;
    }
    .paragraphbold{
        display: flex;
        color: #B3B2B7;
        font-size: 15px;
        align-items: center;
    }
.boton_naranja_dos{
    display: flex;
    align-items: center;
}

.columnsecond{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    background-color:#ffb6af;

}
.numberone::before{
    content: "1";
    background-color:#F3613C;
    color:white ;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.numbertwo::before{
    content: "2";
    background-color:#F3613C;
    color:white ;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.numberthree::before{
    content: "3";
    background-color:#F3613C;
    color:white ;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}

.cardsnone{
    display: none;

}
.icon{
    position: absolute;
    margin-left: 15vw;
    margin-top: 5vh;
}
.names{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    align-items: center;
}

.fondo{
    background-color: #FAFAFA;
    padding-top: 5vh;

}
.footer1{
    display: flex;
    flex-direction: column;
    background-color: #F3613C;
    align-items: center; 
    padding-bottom: 5vh;
}

.h2white{
    width: 80vw;
}
#botonblanco{
    background-color: white;
    color: orange;
}
.footer2{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
} 
.paragraphfinal{
    display: none;
}
.listasfinales{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    font-size: 12px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.footer-redes{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.iconsredes{
    margin-bottom: 3vh;
    display: flex;
    width: 80vw;
    justify-content: space-around;
}
.logofinal{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
}
