* { 
    box-sizing: border-box;
}
.conteiner {
    max-width: 1440px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-left: 5vw;
    margin-right: 5vh;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.ancho{
    width: 50vw;
}
.options{
display: flex;
justify-content: space-evenly;
}

.botonnaranja{
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 3px 0px black;
    background-color: #F3603B;
    padding: 10px 20px;
    color: white;
    display: flex;
}

.botonnaranja:hover{
    background-color: wheat;
}

.columnfirst{
    display: flex;
    align-items: center;
    color: #232C50;
    padding-right: 10vw;
    width: 100%;
}

h1{
    font-size: 58px;
    font-weight: 700px;
}
.paragraphbold{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.columnsecond{
    display: flex;
    padding-top: 15vh;
}
.articleone{
    display: flex;
    padding-right: 10vw;
}
h2{
    color:  rgb (29, 30, 37);
    font-size: 36px;
    font-weight: bold;
}

.articletwo{
    display: flex;
    flex-direction: column;
}

.textimage{
    color:  rgb (29, 30, 37);
    font-weight: bold;
}
.paragraphgrey{
    display: flex;
    justify-content: flex-start;
    color: #B3B2B7;
    font-size: 16px;
}
.articlethree{
    display: flex;
    justify-content: center;
    padding-bottom: 20vh;
}
.articlefour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}
.names{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
.paragraphcards{
    display: flex;
    text-align: center;
}
.botonfinal{
    display: flex;
    justify-content: center;
}
.icon{
    display: flex;
    padding-left: 10vw;
    position: absolute;
    top: 225vh;
}
.fondo{
    background-color: grey;
    padding-bottom: 10vh;
    margin-right: 10px;
}

.footer1{
    display: flex;
    background-color: #F3613C;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}
.footer2{
    background-color: #1E1E26;
    display: flex;
    color: white;
    padding-top: 5vh;
    justify-content: space-around;

}
.h2white{
    display: flex;
    justify-content: center;
    color:  #FFFFFF;
    width: 35vw;
    font-weight: bold;
}
.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formfinal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.paragraphfinal{
    font-size: 12px;
}
.form-email{
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
}
.button-go{
    background-color: #F3603B;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
}

@media (max-width: 375px) {
    .options{
        display: none;
    }
    .botonnaranjaprimero{
        display: none;
    }
    .logo-top{
        display: flex;
        justify-content: flex-start;
        padding-top: 5vh;
    }
    .columnfirst{
        display: flex;
        flex-direction: column-reverse;
        
    }
}
